@model IEnumerable<B2C_API.Models.Products>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProImage)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
            </td>
        </tr>
    }

    </table>*@
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    @Html.DisplayFor(model => item.Brand) @Html.DisplayFor(model => item.ProductName) <br>
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ProImage)" width="80" height="80" /> <br>
                    Description : @Html.DisplayFor(model => item.Description) <br>
                    Price : @Html.DisplayFor(model => item.UnitPrice) <br>
                    <a href="/ShoppingCart/AddtoCart/@item.ProductID">
                        <img src="@Url.Content("~/Content/add-to-cart.png")" style="height:18px;width:18px" />
                    </a>
                </div>
            </div>
        }
    </div>
</div>